<li class="cell medium-4 oho-animate fade-in-up oho-animate--in global-padding--1x">
	<article class="news-story--item">
        {{embed layout="v10/text/masonry-image"}}
    <div class="news-story__text text-margin-reset">
      <h3 class="h5 funderline">{{fulltext linkText=(publish element="Title")}}</h3>
      {{#ifSet element="News Types" ~}}
        <div class="eyebrow">
          {{selectedValues element="News Types"}}
        </div>
      {{~/ifSet}}
      <div class="global-spacing--2x">
        {{{publish element="Article Subhead"}}}
      </div>
    </div>
  </article>
</li>