<li class="swiper-slide oho-animate fade-in-up centralized">
  <article class="news-story--item">
    {{#ifSet element="Media Library Image"}}
      <figure class="aspect-ratio-frame" style="--aspect-ratio: 24/38">
        {{{media id=(mediaId element="Media element") layout="v10/image/pxl-crop" pxl-filter-id="63"}}}
      </figure>
    {{/ifSet}}
    <div class="news-story__text text-margin-reset">
      <h3 class="h5 funderline">{{{fulltext linkText=(publish element="Title")}}}</h3>
      {{#ifSet element="News Types" ~}}
        {{#if @first}}
          <div class="eyebrow">{{publish element="News Types" display_field="value"}}</div>
        {{/if}}
      {{/ifSet}}
      <div class="global-spacing--2x">
        {{publish element="Article Subhead"}}
      </div>
    </div>
  </article>
</li>
{{!-- v10/text/carousel/centralized --}}